# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content.
.DS_Store
._.DS_Store
sites/*/files
sites/*/pvt
sites/*/tmp
sites/*/private

# Ignore webserver logs folder
/logs
/dumps

