// Insert your styling here.
.footer{
  background: #222222;
  padding: 87px 0 75px;
  border-top: 1px solid #d9d9d9;
  z-index: 100;
  position: relative;
  margin: 0;
  width: auto;
  font-size: 14px;
  color: #bfbfbf;
  
  .region-footer{
    max-width: @container-large-desktop;
    margin: 0 auto;
  }
  h2{
    text-transform: uppercase;
    margin: 0 0 29px;
    font: bold 18px/22px Asap;
    color: #ffffff;
  }
  h3{
    font-size: 14px;
  }
}