/** General Header **/

.topbar.container > .container, 
.navbar.container > .container, 
.container > .container{
  margin: 0 auto;
  max-width: @container-large-desktop;
  padding-left: 0;
  padding-right: 0;
}

/** Top Header Area **/
#page-header{
  background: #23232B;
  max-width: none;
  margin: 0;
  width: auto;
  .block-menu{
    float: right;
  }
  .region-header:after, 
  ul.menu:after{
    clear: both;
    content: "";
    display: table;
    height: 0;
  }
  ul.menu li{
    float: left;
    a{
      font-size: 13px;
      color: #e4e4e4;
      text-decoration: none;
      padding: 5px;
    }
    a:hover{
      background: transparent;
      color: #e74047;
    }
  }
}
/* Menu Móvil*/
 .menu-icono-movil {
      background: url('../images/menu-icon.png');
      background-repeat: no-repeat;
      background-size: contain;
      width: 60px;
      height: 45px;
      float: right;
      position:relative;
      top:-80px;
      display: none;
    }


/** Logo **/
.navbar-header{
  display: block;
  float: left;
  border-radius: 10px 10px 10px 10px;
  margin-top: 10px;
  .logo.navbar-btn{
    margin: 0;
    padding: 10px 20px 10px;
    img{
      width: 59px;
      height: auto;
    }
  }
  .name.navbar-brand, 
  .navbar-toggle{
    display: none;
  }
}
@media only screen and (max-width: 390px) {
  .navbar-header{
    .logo.navbar-btn{
      img{
        width: 200px;
        height: auto;
      }
    }
  }
  .menu-icono-movil{
    top:-65px;
  }
}