table.generic tbody tr td.padding-descripcion.left-descripcion{
  width: 100px;
  padding: 5px;
}
table.generic tbody tr td.padding-descripcion{
  padding: 5px;
}

table.print.coberturas{
  margin-bottom: 160px;
}

/*
.tabla-recibo {
  border: none;
}

.tabla-recibo table.print-child > tbody > tr > td + td {
  border: none;
}

.tabla-recibo table.print-child tbody tr td + td {
  border: none;
  padding-bottom: 5px;
}

.table-poliza table.print-child tbody tr td + td {
  border: none;
  padding-bottom: 5px;
}

.tabla-recibo tbody > tr > td + td {
  border: none;
}

.tabla-recibo thead tr th {
  display: none;
}

table.tabla-recibo-col1 tbody tr td .field {
  display: inline;
  padding-bottom: 5px;
}
.tabla-recibo-col1 .field {
  display: inline;
}
.tabla-recibo-col1 .label-above {
  display: inline;
}
.tabla-recibo-col2 table.print-child tbody tr td + td {
  border: none;
  padding-bottom: 5px;
}
.marca-agua {
  background-image: url("");
}
*/