@caption_size: 14px;
@field_size: 14px;
#main-payment, #main-payment-2 {
  width: 21.59cm;
  height: 27.94cm;
  margin: 0 auto;
  background: white;
  #main-inner {
    padding: 20px;
  }
  .print-header {
    margin-top: 20px;
    .print-logo {
      font-size: 14px;
      line-height: 20px;
    }
    .print-title {
      width: 54%;
      h1 {
        text-align: left;
        margin-top: -50px;
      }
    }
  }

  .recibo {
    background-image: url('../images/watermark.png');
    background-size: 86%;
    background-repeat: no-repeat;
    width: auto;
    height: 302px;
    background-position: 46px 103px;
  }

  .amount td {
    white-space: nowrap;
  }
  strong {
    white-space: nowrap;
    margin-right: 5px;
  }
  strong + strong {
    margin-left: 20px;
  }
  table tr td, table tr td strong, table tr td + td {
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
  }

  .payment-copy  {
    p {
      margin-top: 0;
      margin-bottom: 0;
      line-height: 22px;
      font-size: 14px;
    }
    .number {
      width: 1%;
      margin-left: 30px;
    }
    .text {
      width: 90%;
      padding-left: 15px;
      padding-right: 15px;
    }
    .number, .text {
      float: left;
    }

    .text p {
      margin-left: 10px;
    }
    .text.last {
      margin-bottom: 20px;
    }
  }
  .col6 {
//     width: 42%;
    float: left;
    position: relative;
  }
  .col6.one {
    width: 42%;
  }
  .col6.two {
    width: 42%;
    margin-top: -35px;
    padding-left: 30px;
  }
  .col6.three {
    width: 42%;
  }
  .col6.last {
    width: 42%;
    margin-top: 10px;
    margin-bottom: 70px;
//     padding-left: 155px;
  }
}

#main-payment-2.content {
  display: none;
}

#main-payment-2.print {
  display: inline;
}
