.page-node.node-type-siniestro{
  .table-operations{
    float: right;
    width: 100px;
  }
  .table-label{
    margin-right: 100px;
  }

  &.print-vehiculo-tercero{
    .node-siniestro > table{
      display: none;

      &.vehiculo-tercero-active{
        display: table;
      }
    }
  }
}
