/**
 * CSS Siniestros > Vehiculo tercero && Lesiones y Danos.
 */
.form-item-title label {
  display:none;
}
#field-vehiculo-tercero-values thead tr {
  display:none;
} 

#field-lesionado-values thead tr {
  display:none;
}

#field-vehiculo-tercero-add-more-wrapper table.sticky-header {
  display: none;
}

#field-lesionado-add-more-wrapper table.sticky-header {
  display: none;
}
#field-vehiculo-tercero-add-more-wrapper .tabledrag-toggle-weight {
  display:none;   
}
#field-lesionado-add-more-wrapper .tabledrag-toggle-weight{
  display:none;
}
#field-vehiculo-tercero-values .tabledrag-handle {
  display:none;
}
#field-lesionado-values .tabledrag-handle {
  display:none;
}
#field-vehiculo-tercero-values .odd{
  border:none;
}
#field-lesionado-values .odd{
  border:none;
}
#field-lesionado-values .required-fields{
  border-width: 1 1;
  border-style: solid;
  border-color: #bebfb9;
}
