/**
 * CSS Siniestros > Vehiculo tercero && Lesiones y Danos.
 */
.form-item-title label {
  display: none;
}
#field-vehiculo-tercero-values thead tr {
  display: table-row;
}

#field-lesionado-values thead tr {
  display: table-row;
}

#field-vehiculo-tercero-add-more-wrapper table.sticky-header {
  display: none;
}

#field-lesionado-add-more-wrapper table.sticky-header {
  display: none;
}
#field-vehiculo-tercero-add-more-wrapper .tabledrag-toggle-weight {
  display: none;
}
#field-lesionado-add-more-wrapper .tabledrag-toggle-weight {
  display: none;
}
#field-vehiculo-tercero-values .tabledrag-handle {
  display: none;
}
#field-lesionado-values .tabledrag-handle {
  display: none;
}
#field-vehiculo-tercero-values .odd {
  border: none;
}
#field-lesionado-values .odd {
  border: none;
}
#field-lesionado-values .required-fields {
  border-width: 1 1;
  border-style: solid;
  border-color: #bebfb9;
}

#field-vehiculo-tercero-und-0-field-taller-values,
#field-lesionado-und-0-field-hospital-values {
  margin-top: 10px;
}

#edit-field-conductor-und-0-field-nombre-quien-reporta,
#edit-field-conductor-und-0-field-telefono-quien-reporta {
  display: none;
}

#edit-field-conductor-und-0-field-nombre-quien-reporta.displayblock,
#edit-field-conductor-und-0-field-telefono-quien-reporta.displayblock {
  display: block;
}
