/* No files to import found in abstractions/**\/* */
/* latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local("Raleway"), url(../fonts/raleway-normal.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
/* latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  src: local("Raleway SemiBold"), local("Raleway-SemiBold"), url(../fonts/raleway-semibold.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
/* latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  src: local("Raleway ExtraBold"), local("Raleway-ExtraBold"), url(../fonts/raleway-extrabold.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
/* latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 900;
  src: local("Raleway Heavy"), local("Raleway-Heavy"), url(../fonts/raleway-heavy.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
/* line 1, ../sass/base/_global.scss */
body {
  font-family: "Raleway";
  font-size: 14px;
  line-height: 23px;
  color: #1c1c1c;
  background: white; }

/* line 8, ../sass/base/_global.scss */
.layout-wrapper {
  margin: 0 auto;
  width: 1200px; }

/* line 12, ../sass/base/_global.scss */
.cf {
  clear: both;
  display: table;
  height: 0; }

@media only screen and (max-width: 1220px) {
  /* line 19, ../sass/base/_global.scss */
  .layout-wrapper {
    width: 950px; } }
@media only screen and (max-width: 980px) {
  /* line 25, ../sass/base/_global.scss */
  .layout-wrapper {
    width: 100%;
    padding: 0 15px; } }
/* line 1, ../sass/base/_media.scss */
img, media {
  max-width: 100%; }

/* line 1, ../sass/components/global/_branding.scss */
.l-branding-navigation {
  padding: 20px 0; }

/* line 4, ../sass/components/global/_branding.scss */
.l-branding {
  width: 177px;
  height: 100px;
  float: left; }

/* line 9, ../sass/components/global/_branding.scss */
.l-region--navigation {
  margin-left: 197px; }

/* line 1, ../sass/components/global/_header.scss */
.wrapper-region-header {
  background: #323232;
  padding: 10px 0;
  color: #888; }
  /* line 5, ../sass/components/global/_header.scss */
  .wrapper-region-header .address,
  .wrapper-region-header .phone {
    display: inline-block; }

/* line 10, ../sass/components/global/_header.scss */
.l-region--header {
  float: right; }
  /* line 12, ../sass/components/global/_header.scss */
  .l-region--header #block-system-user-menu,
  .l-region--header #block-menu-menu-user-off {
    display: inline-block; }
  /* line 16, ../sass/components/global/_header.scss */
  .l-region--header ul.menu,
  .l-region--header ul.menu li {
    padding: 0;
    margin: 0;
    list-style: none; }
  /* line 22, ../sass/components/global/_header.scss */
  .l-region--header ul.menu {
    display: table; }
  /* line 25, ../sass/components/global/_header.scss */
  .l-region--header ul.menu li {
    display: inline-block;
    margin-right: 10px; }
  /* line 29, ../sass/components/global/_header.scss */
  .l-region--header ul.menu li.last {
    margin-right: 0; }
  /* line 32, ../sass/components/global/_header.scss */
  .l-region--header ul.menu li a {
    font-size: 13px;
    color: #e4e4e4;
    text-decoration: none;
    padding: 5px; }
  /* line 38, ../sass/components/global/_header.scss */
  .l-region--header ul.menu li a:hover {
    color: #e74047; }

/* line 2, ../sass/components/global/_logo.scss */
.l-branding h1.site-name,
.l-branding div.site-name {
  margin: 0;
  padding: 0; }
  /* line 6, ../sass/components/global/_logo.scss */
  .l-branding h1.site-name a,
  .l-branding div.site-name a {
    display: block;
    background: url(../logo.png) no-repeat;
    width: 162px;
    height: 92px;
    text-align: left;
    text-indent: -9999px; }

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  /* line 22, ../sass/components/global/_logo.scss */
  .l-branding h1.site-name a,
  .l-branding div.site-name a {
    background-image: url(../logox2.png);
    background-size: 162px 92px; } }
/* line 1, ../sass/components/global/_navigation.scss */
#block-system-main-menu {
  padding: 10px 0; }
  /* line 3, ../sass/components/global/_navigation.scss */
  #block-system-main-menu ul.menu,
  #block-system-main-menu ul.menu li {
    padding: 0;
    margin: 0;
    list-style: none; }
  /* line 9, ../sass/components/global/_navigation.scss */
  #block-system-main-menu ul.menu {
    display: table;
    border: 1px solid #d5d5d5; }
  /* line 13, ../sass/components/global/_navigation.scss */
  #block-system-main-menu ul.menu li {
    display: inline-block;
    border-left: 1px solid #d5d5d5; }
    /* line 16, ../sass/components/global/_navigation.scss */
    #block-system-main-menu ul.menu li a {
      font-size: 17px;
      display: block;
      padding: 25px 20px;
      text-transform: uppercase;
      text-decoration: none;
      font-weight: 600;
      color: #333333;
      border: 1px solid #fff;
      transition: all 300ms linear;
      background: white; }
    /* line 28, ../sass/components/global/_navigation.scss */
    #block-system-main-menu ul.menu li a:hover,
    #block-system-main-menu ul.menu li a.active {
      color: white;
      background: #323232; }
  /* line 34, ../sass/components/global/_navigation.scss */
  #block-system-main-menu ul.menu li.first {
    border-left: none; }

/* line 2, ../sass/components/global/footer/_contact-footer.scss */
#block-block-2 .address-line {
  padding-left: 46px;
  background-repeat: no-repeat;
  margin-bottom: 16px;
  min-height: 31px; }
  /* line 7, ../sass/components/global/footer/_contact-footer.scss */
  #block-block-2 .address-line h3 {
    margin: 0; }
  /* line 10, ../sass/components/global/footer/_contact-footer.scss */
  #block-block-2 .address-line p {
    margin: 0; }
/* line 14, ../sass/components/global/footer/_contact-footer.scss */
#block-block-2 .address-line.address {
  background-image: url(../images/mark-ico.png); }
/* line 17, ../sass/components/global/footer/_contact-footer.scss */
#block-block-2 .address-line.phone {
  background-image: url(../images/phone-ico.png); }
  /* line 19, ../sass/components/global/footer/_contact-footer.scss */
  #block-block-2 .address-line.phone h3, #block-block-2 .address-line.phone p {
    display: inline-block; }
  /* line 22, ../sass/components/global/footer/_contact-footer.scss */
  #block-block-2 .address-line.phone p {
    font-size: 27px;
    font-weight: 600; }
/* line 27, ../sass/components/global/footer/_contact-footer.scss */
#block-block-2 .address-line.email {
  background-position: 0 -5px;
  background-image: url(../images/mail-ico.png); }
  /* line 30, ../sass/components/global/footer/_contact-footer.scss */
  #block-block-2 .address-line.email h3, #block-block-2 .address-line.email p {
    display: inline-block; }

@media all and (-webkit-min-device-pixel-ratio: 2) {
  /* line 38, ../sass/components/global/footer/_contact-footer.scss */
  #block-block-2 .address-line {
    background-size: 31px 31px; }
  /* line 41, ../sass/components/global/footer/_contact-footer.scss */
  #block-block-2 .address-line.address {
    background-image: url(../images/mark-ico2x.png); }
  /* line 44, ../sass/components/global/footer/_contact-footer.scss */
  #block-block-2 .address-line.phone {
    background-image: url(../images/phone-ico2x.png); }
  /* line 47, ../sass/components/global/footer/_contact-footer.scss */
  #block-block-2 .address-line.email {
    background-image: url(../images/mail-ico2x.png); } }
/* line 1, ../sass/components/global/footer/_footer.scss */
.l-footer {
  padding: 64px 0 0 0;
  background: #dddddd;
  background: -moz-linear-gradient(top, #dddddd 0%, #ffffff 26%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #dddddd), color-stop(26%, #ffffff));
  background: -webkit-linear-gradient(top, #dddddd 0%, #ffffff 26%);
  background: -o-linear-gradient(top, #dddddd 0%, #ffffff 26%);
  background: -ms-linear-gradient(top, #dddddd 0%, #ffffff 26%);
  background: linear-gradient(to bottom, #dddddd 0%, #ffffff 26%); }
  /* line 10, ../sass/components/global/footer/_footer.scss */
  .l-footer h2.block__title {
    font-size: 23px;
    font-weight: 800;
    text-transform: uppercase;
    margin: 0 0 15px 0;
    text-rendering: optimizelegibility; }
  /* line 18, ../sass/components/global/footer/_footer.scss */
  .l-footer .block__content h3 {
    font-size: 17px;
    font-weight: 600;
    text-transform: uppercase;
    color: #333;
    line-height: 23px; }
  /* line 25, ../sass/components/global/footer/_footer.scss */
  .l-footer .block__content a {
    font-size: 14px;
    color: #f23534;
    font-weight: normal;
    text-decoration: none;
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    -o-transition: all 0.25s;
    transition: all 0.25s; }
  /* line 35, ../sass/components/global/footer/_footer.scss */
  .l-footer .block__content a:hover {
    color: #333; }
  /* line 39, ../sass/components/global/footer/_footer.scss */
  .l-footer .block {
    float: left;
    width: 370px;
    margin-left: 30px; }
  /* line 44, ../sass/components/global/footer/_footer.scss */
  .l-footer #block-block-2 {
    margin-left: 0; }
  /* line 47, ../sass/components/global/footer/_footer.scss */
  .l-footer .l-region--footer:after {
    clear: both;
    content: " ";
    height: 0;
    display: table; }

/* line 1, ../sass/components/global/footer/_map-footer.scss */
#block-block-3 {
  float: right; }

/* line 1, ../sass/components/home/_home-blocks.scss */
.node--home-blocks--full .home-block > .field-collection-view {
  display: none;
  border: none; }

/* line 5, ../sass/components/home/_home-blocks.scss */
.node--home-blocks--full .home-block > .field-collection-view.active {
  display: block; }

/* line 8, ../sass/components/home/_home-blocks.scss */
.node--home-blocks--full {
  background: transparent; }
  /* line 10, ../sass/components/home/_home-blocks.scss */
  .node--home-blocks--full .field-collection-view .entity-field-collection-item {
    float: none; }
  /* line 13, ../sass/components/home/_home-blocks.scss */
  .node--home-blocks--full .vtabs {
    float: left;
    width: 274px; }
    /* line 16, ../sass/components/home/_home-blocks.scss */
    .node--home-blocks--full .vtabs ul,
    .node--home-blocks--full .vtabs ul li {
      margin: 0;
      padding: 0;
      list-style: none; }
    /* line 22, ../sass/components/home/_home-blocks.scss */
    .node--home-blocks--full .vtabs ul li {
      border-bottom: 1px solid #d5d5d5; }
    /* line 25, ../sass/components/home/_home-blocks.scss */
    .node--home-blocks--full .vtabs ul li.active,
    .node--home-blocks--full .vtabs ul li:hover {
      border-bottom-color: #f23534; }
    /* line 29, ../sass/components/home/_home-blocks.scss */
    .node--home-blocks--full .vtabs ul li a {
      display: block;
      padding: 23px 10px 23px 28px;
      color: #333;
      font-size: 17px;
      text-transform: uppercase;
      font-weight: 600;
      border: none;
      text-decoration: none;
      -webkit-transition: all 0.35s;
      -moz-transition: all 0.35s;
      -o-transition: all 0.35s;
      transition: all 0.35s; }
    /* line 43, ../sass/components/home/_home-blocks.scss */
    .node--home-blocks--full .vtabs ul li.active a,
    .node--home-blocks--full .vtabs ul li a:hover {
      background: #f23534;
      color: white; }
  /* line 49, ../sass/components/home/_home-blocks.scss */
  .node--home-blocks--full .vtabs-content {
    margin-left: 274px;
    background: #323232;
    padding: 31px 27px 62px 27px;
    border-left: 6px solid #f23534;
    border-bottom: none;
    margin-bottom: 0; }
  /* line 57, ../sass/components/home/_home-blocks.scss */
  .node--home-blocks--full .field-collection-view {
    margin: 0;
    padding: 0; }
  /* line 61, ../sass/components/home/_home-blocks.scss */
  .node--home-blocks--full h3 {
    font-size: 37px;
    line-height: 1em;
    text-transform: uppercase;
    font-weight: 800;
    color: #fff;
    margin: 0 0 26px; }
  /* line 69, ../sass/components/home/_home-blocks.scss */
  .node--home-blocks--full .image {
    float: left;
    margin: 0 10px 10px 0; }
  /* line 73, ../sass/components/home/_home-blocks.scss */
  .node--home-blocks--full .body {
    color: #888; }
  /* line 76, ../sass/components/home/_home-blocks.scss */
  .node--home-blocks--full .group-content:after {
    clear: both;
    content: " ";
    display: table;
    height: 0; }

/* line 1, ../sass/components/home/_slideshow.scss */
.view-home-slideshow {
  height: 560px;
  overflow: hidden; }
  /* line 4, ../sass/components/home/_slideshow.scss */
  .view-home-slideshow .views-row,
  .view-home-slideshow .views-slideshow-cycle-main-frame,
  .view-home-slideshow .views-slideshow-cycle-main-frame-row {
    width: 100% !important;
    height: 560px !important; }
  /* line 10, ../sass/components/home/_slideshow.scss */
  .view-home-slideshow .views-row {
    position: relative; }
    /* line 12, ../sass/components/home/_slideshow.scss */
    .view-home-slideshow .views-row .layout-wrapper {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      z-index: 1; }
    /* line 20, ../sass/components/home/_slideshow.scss */
    .view-home-slideshow .views-row .image a {
      display: block; }
    /* line 23, ../sass/components/home/_slideshow.scss */
    .view-home-slideshow .views-row .image img {
      width: 100%;
      height: auto; }
    /* line 27, ../sass/components/home/_slideshow.scss */
    .view-home-slideshow .views-row .info {
      position: absolute;
      right: 0;
      width: 500px;
      font-family: "Raleway";
      font-weight: normal;
      font-size: 50px;
      text-transform: uppercase;
      letter-spacing: -1px;
      color: white;
      padding: 240px 0 0;
      text-align: right; }
    /* line 40, ../sass/components/home/_slideshow.scss */
    .view-home-slideshow .views-row .info h3 {
      font-weight: normal;
      font-size: 50px;
      line-height: 53px;
      margin: 0; }
    /* line 46, ../sass/components/home/_slideshow.scss */
    .view-home-slideshow .views-row .red-bg {
      background: rgba(242, 53, 52, 0.84);
      display: block;
      content: " ";
      -ms-transform: rotate(45deg);
      -webkit-transform: rotate(25deg);
      transform: rotate(25deg);
      position: absolute;
      top: -2000px;
      right: -2000px;
      bottom: -2000px;
      left: 65%; }

/*# sourceMappingURL=anave.no-query.css.map */
